<div id="easy_gantt" class="<%= defined?(EasyExtensions) ? 'easy' : 'redmine' %> gantt easy-content-page clear">
  <%= render @query, :easy_query_name => l(:heading_easy_gantts_issues), :wrapper_class => '' %>

  <%= render :partial => 'menu_graph' %>

  <div id="easy_gantt_footer">

    <div id="gantt_footer_buttons" class="easy-gantt-menu">
      <p id="button_print">
        <%= easy_gantt_js_button(l(:button_print), :icon => 'icon-print') %>
      </p>
      <p id="button_sample">
        <%= easy_gantt_js_button(:load_sample_data) %>
      </p>
    </div>
    <%= content_tag(:p, link_to(l(:text_easy_gantt_footer), l(:link_easy_gantt_plugin), :target => '_blank')) unless defined?(EasyExtensions) %>
  </div>
</div>
<%= render :partial => 'includes' %>

<%= content_for :header_tags do %>
  <script type="text/javascript">
    window.ysy = window.ysy || {};
    ysy.settings = ysy.settings || {};
    $.extend(true,ysy.settings,{
      easyRedmine: <%= defined?(EasyExtensions) ? true : false %>,
      <% if @project %>
      project: <%= "{'id': '#{@project.id}', 'name': '#{@project.name.html_safe}'}".html_safe %>,
      <% end %>
      nonWorkingWeekDays: <%= EasyGantt.non_working_week_days.to_json.html_safe %>,
      dateFormat: '<%=j Setting.date_format %>',
      withSample: <%= params[:sample] ? params[:sample] : 0 %>,
      holidays: [],
      paths: {
        rootPath: '<%= home_path %>',
      <% if @project %>
        mainGantt: "<%= issues_easy_gantt_path(@project, :format => 'json', :key => User.current.api_key)%>",
       <% else %>
        mainGantt: "<%= projects_easy_gantt_path(:format => 'json', :key => User.current.api_key) %>",
       <% end %>
        projectGantt: "<%= issues_easy_gantt_path(':projectID', params.merge(:format => 'json', :no_turn_on_check => 1, :key => User.current.api_key).except!(:controller, :action)).html_safe %>",
        issuePOST: "<%= issues_path(:format => 'json', :key => User.current.api_key) %>",
        issuePUT: "<%= issue_path(':issueID', :format => 'json', :key => User.current.api_key) %>",
        issueDELETE: "<%= issue_path(':issueID', :format => 'json', :key => User.current.api_key) %>",
        relationPOST: "<%= issue_relations_path(':issueID', :format => 'json', :key => User.current.api_key) %>",
        relationPUT: "<%= relation_easy_gantt_path(':projectID',':relaID', :format => 'json', :key => User.current.api_key) %>",
        relationDELETE: "<%= url_for(:id => ':relaID', :controller => :issue_relations, :action => :destroy, :format => 'json', :key => User.current.api_key, :only_path => true)%>",
        versionPOST: "<%= project_versions_path(':projectID', :format => 'json', :key => User.current.api_key) %>",
        versionPUT: "<%= version_path(':versionID', :format => 'json', :key => User.current.api_key) %>",
        sample_data: "<%= home_path %>plugin_assets/easy_gantt/javascripts/sample_{{version}}.json"
      },
      labels: {
        buttons: {
          button_delete: '<%= l(:button_delete) %>',
          button_submit: '<%= l(:button_submit) %>',
          button_cancel: '<%= l(:button_cancel) %>',
          button_reload: '<%= l(:reload, :scope => [:easy_gantt, :button]) %>',
          button_save: '<%= l(:button_save) %>'
        },
        types:{
          project:'<%= l(:field_project) %>',
          issue:'<%= l(:field_issue) %>',
          milestone:'<%= l(:field_version) %>',
          relation:'<%= l(:field_relation) %>'
        },
        sample_text: '<%= l(:text, :scope => [:easy_gantt, :sample]).html_safe %>',
        sample_global_free_text:'<%= l(:text, :scope => [:easy_gantt, :sample_global_free]).html_safe %>',
        date: {
          month_full: <%=raw l('date.month_names').compact.to_json %>,
          month_short: <%=raw l('date.abbr_month_names').compact.to_json %>,
          day_full: <%=raw l('date.day_names').compact.to_json %>,
          day_short: <%=raw l('date.abbr_day_names').compact.to_json %>
        },
        link_dir: {
          link_start: "<%= l(:link_start, :scope => [:easy_gantt, :link_dir]) %>",
          link_end: "<%= l(:link_end, :scope => [:easy_gantt, :link_dir]) %>"
        },
        errors: <%=raw l('activerecord.errors.messages').compact.to_json %>,
        errors2:{
          unsaved_parent:'<%= l(:unsaved_parent, :scope => [:easy_gantt, :errors]) %>',
          loop_link:'<%= l(:loop_link, :scope => [:easy_gantt, :errors]) %>',
          link_target_new:'<%= l(:link_target_new, :scope => [:easy_gantt, :errors]) %>',
          unsupported_link_type:'<%= l(:unsupported_link_type, :scope => [:easy_gantt, :errors]) %>',
          duplicate_link:'<%= l(:duplicate_link, :scope => [:easy_gantt, :errors]) %>'
        },
        gateway:{
          sendFailed:"<%= l(:send_failed, :scope => [:easy_gantt, :gateway]) %>",
          entitySaveFailed:"<%= l(:entity_save_failed, :scope => [:easy_gantt, :gateway]) %>",
          allSended:"<%= l(:notice_successful_update) %>"
        }
      }
    });
    $(document).ready(function () {
      $("p.nodata").remove()
    })
  </script>
  <script type="text/javascript">
    window.ysy = window.ysy || {};
    ysy.view = ysy.view || {};
    ysy.view.templates = $.extend(ysy.view.templates,{
    TaskTooltip:
      '<div class="name"><b>{{name}}</b></div>\
      <div class="start_date"><%= l(:field_start_date) %>: <strong>{{start_date}}</strong></div>\
      {{#end_date}}\
      <div class="end_date"><%= l(:field_due_date) %>: <strong>{{end_date}}</strong></div>\
      {{/end_date}}\
      {{#assignee}}\
      <div class="assignee"><%= l(:field_assigned_to) %>: <strong>{{assignee}}</strong></div>\
      {{/assignee}}\
      {{#problems}}\
      {{#overmilestone}}\
      <div class="tooltip-problem"><%= l(:overmile, :scope => [:easy_gantt, :errors]) %></div>\
      {{/overmilestone}}\
      {{#too_short}}\
      <div class="tooltip-problem"><%= l(:too_short, :scope => [:easy_gantt, :errors]) %></div>\
      {{/too_short}}\
      {{/problems}}\
    ',
    LinkConfigPopup:
      "<h3 class='title'><%= l(:heading_delay_popup) %></h3> <label for='link_delay_input'><%= l(:field_delay) %>:</label><input id='link_delay_input' type='number' min='0' value='{{delay}}' size='3'><hr>\
      <a id='link_delete' class='icon icon-del button'  href='javascript:void(0)'><%= l(:button_delete) %></a>\
      <a id='link_close' class='icon icon-save button-positive'  href='javascript:void(0)' style='float:right'><%= l(:button_submit) %></a>\
    ",
    SuperPanel:'\
    {{#sample}}\
    <div id="sample_cont" class="flash notice">\
    <h2 id="sample_label"><%= l(:header, :scope => [:easy_gantt, :sample]) %></h2>\
    <p>{{{text}}}</p>\
    \
    <p class="" style="text-align:center">\
    <a id="sample_video_button" class="icon youtube-icon" href="javascript:void(0)"><%= l(:video_label, :scope => [:easy_gantt, :sample]) %></a>\
    {{^global_free}}\
    <a id="sample_close_button" class="button button-important" href="javascript:void(0)" title="<%= l(:close_label, :scope => [:easy_gantt, :sample]).html_safe %>"><%= l(:close_label, :scope => [:easy_gantt, :sample]).html_safe %></a>\
    {{/global_free}}\
    {{#global_free}}\
    <a id="sample_upgrade_button" class="button button-positive" href="<%= l(:link_easy_gantt_plugin).html_safe %>" target="_blank" title="<%= l(:label_pro_upgrade, :scope => [:easy_gantt]) %>"><%= l(:label_pro_upgrade, :scope => [:easy_gantt]) %></a>\
    {{/global_free}}\
    </p>\
    <div class="clear"></div>\
    </div>\
    {{/sample}}\
    ',
    Button:'<span class="button {{active}}" title="{{title}}"><a id="{{elid}}_button_in" class="gantt_button{{icon}}" href="javascript:void(0)" >{{name}}</a></span>',
    LinkButton:'<a class="{{css}}" title="{{title}}" href="javascript:void(0)">{{name}}</a>',
    easy_unimplemented:'<h3 class="title">{{modal.title}}</h3><span>{{{modal.text}}}</span>',
    video_modal:'<h3 class="title"><%= l(:title, :scope => [:easy_gantt, :sample, :video]) %></h3>\
      <iframe class="modal_video" width="800" height="450"\
      src="//www.youtube.com/embed/<%= l(:video_id, :scope => [:easy_gantt, :sample, :video]) %>?autoplay=1">\
      </iframe>\
      <p><%= l(:text, :scope => [:easy_gantt, :sample, :video]) %></p>\
    ',
    video_modal_global:'<h3 class="title"><%= l(:title, :scope => [:easy_gantt, :sample_global_free, :video]) %></h3>\
      <iframe class="modal_video" width="800" height="450"\
      src="//www.youtube.com/embed/<%= l(:video_id, :scope => [:easy_gantt, :sample_global_free, :video]) %>?autoplay=1">\
      </iframe>\
      <p><%= l(:text, :scope => [:easy_gantt, :sample_global_free, :video]) %></p>\
    '
    });
  </script>
<% end %>

<%= call_hook(:view_easy_gantts_issues_bottom, {:project => @project}) %>

<% content_for :sidebar do %>
  <%= call_hook(:view_easy_gantts_issues_sidebar, {:project => @project, :query => @query}) %>
<% end %>
