<h2><%= l(:admin_menu_under_construction) %></h2>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'rmp_settings', plugin: 'a_common_libs', media: 'screen' %>
<% end %>

<div style="padding: 10px;">
<%= form_for(@uc_period, html: {id: 'uc_period_form'}) do |f| %>
  <table id="uc_period_table" class="plugin_settings"  style="width: 100%;">
    <tr class="rmp-settings-group">
      <td style="width: 33%; border-top: 1px solid #ccc;">&nbsp;</td>
      <td style="border-top: 1px solid #ccc;"><%= l(:label_uc_common_settings) %></td>
    </tr>
    <tr id="uc_beg_date_tr">
      <td><%= label_tag('begin_date', l(:field_tech_begin_date)) %></td>
      <td><%= f.date_select :begin_date %><%= f.time_select :begin_date, ignore_date: true %></td>
    </tr>
    <tr id="uc_end_date_tr">
      <td><%= label_tag('end_date', l(:field_tech_end_date)) %></td>
      <td><%= f.date_select :end_date %><%= f.time_select :end_date, ignore_date: true %></td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><%= label_tag('tech_period_head', l(:field_message_head)) %></td>
      <td>
        <div id="msg_head" style="border: 1px solid #DDD; background-color: #EEE; padding: 5px; width: 700px;">
          <%= render partial: 'msg_head', locals: {uc_period: @uc_period} %>
        </div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><%= label_tag('tech_period', l(:field_custom_message)) %></td>
      <td><%= f.text_area :custom_message,
                          cols: 60,
                          rows: 5,
                          class: 'wiki-edit' %>
          <%= wikitoolbar_for 'uc_period_custom_message' %>
          <%= link_to( content_tag(:span, l(:label_preview)),
                       '#',
                       class: 'icon uc_preview in_link no_line',
                       data: {obj: 'uc_period_custom_message'} ) %>
          <div id="uc_period_form_preview"></div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;"><%= label_tag('tech_period_user_id', l(:field_responsible)) %></td>
      <td><%= f.select :user_id, options_for_select(User.active.sort_by(&:name).map{|u| [u.name, u.id]}, @uc_period.user_id), {}, class: 'select2' %></td>
    </tr>
    <tr id="turned_on">
      <td></td>
      <td>
        <%= f.check_box :turned_on %>
        <%= label_tag 'uc_period_turned_on', ('&mdash; ' + l(:field_turned_on)).html_safe %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= f.check_box :notify %>
        <%= label_tag 'uc_period_notify', ('&mdash; ' + l(:field_notify_about)).html_safe %>
      </td>
    </tr>

    <tr class="rmp-settings-group">
      <td></td>
      <td><%= l(:label_uc_restricted_pages) %></td>
    </tr>
    <tr id="add_uc_filter">
      <td>
        <%= l(:label_uc_filters) %>
        <a href="#" rel="tooltip" data-original-title="<%= l(:info_uc_filters) %>" title="<%= l(:info_uc_filters) %>" class="icon icon-inform">&nbsp;</a>
      </td>
      <td>
          <% @uc_period.uc_restrictions.each do |uc_restriction| %>
            <%= render partial: 'uc_periods/restriction_row', locals: {uc_restriction: uc_restriction, timestamp: uc_restriction.timestamps} %>
          <% end %>
          <%= link_to( content_tag(:span, l(:label_uc_add_restriction)),
                       {controller: 'uc_periods', action: 'add_restriction'},
                       remote: true, class: 'in_link icon icon-add show_loader', id: 'add-route-restriction') %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit(l(:button_save), class: 'main-form-button') %></td>
    </tr>
  </table>

<% end %>
</div>

<%= render partial: 'uc_periods/rmplus_logo.html.erb' %>

<div class="I" id="all_actions">
  <%= grouped_options_for_select(UcRoute.routes) %>
</div>

<script type="text/javascript">

  $(document).ready(function () {
    $('a[rel=tooltip]').tooltip({placement:'right'});
  });

</script>

<style>
.preview p {
  margin: 10px 0;
}
</style>